<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/header.ejs"); %>
  </head>
  <body>
    <div class="container my-5">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-4">
          <form action="/register" method="POST">
            <h1 class="display-6">Register</h1>
            <% if (message.error) { %>
            <p class="d-block invalid-feedback"><%= message.error %></p>
            <% } %>
            <div class="mb-3">
              <label for="nameInput" class="form-label">First name</label>
              <input
                id="nameInput"
                class="form-control"
                name="name"
                type="text"
              />
            </div>
            <div class="mb-3">
              <label for="emailInput" class="form-label">Email address</label>
              <input
                id="emailInput"
                class="form-control"
                name="email"
                type="email"
              />
            </div>
            <div class="mb-3">
              <label for="passwordInput" class="form-label">Password</label>
              <input
                id="passwordInput"
                class="form-control"
                name="password"
                type="password"
              />
            </div>
            <div class="d-flex justify-content-between align-items-end">
              <button type="submit" class="btn btn-primary block">
                Register
              </button>
              <a href="/signin">Sign in</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
